* {
  padding: 0;
  margin: 0;
}
.right {
  background-color: rgb(144, 205, 225);
  position: absolute;
  left: 0px;
  width: 500px;
  padding: 13%;
  height: 67%;
}
.left {
  background-color: azure;
  position: absolute;
  right: 0px;
  width: 237px;
  padding: 13%;
  height: 67%;
}
h1 {
  color: orangered;
  background-color: azure;
}
label {
  font-weight: bold;
  background-color: azure;
}

button {
  background-color: orangered;
  color: azure;
  width: 250px;
}
input {
  background-color: azure;
}
.form1 {
  background-color: azure;
  color: black;
  line-height: 28px;
}

@media only screen and (max-width: 600px) {
  .form1 {
    padding-top: 132px;
    background-color: azure;
    color: black;
    line-height: 28px;
    
  }
  .right{
    background-color: azure;
  }
}
